# =========================
# Node / Backend (backend/)
# =========================
.env
backend/node_modules/
backend/.env
backend/.env.*
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/



# =========================
# Frontend (React / Vite)
# =========================
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Build outputs
frontend/build/
frontend/dist/

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Cache
# =========================
.cache/